In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Pokemon.csv")
data.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [4]:
HP_mean = data["HP"].mean()

def set_hp(val):
    if val < HP_mean:
        return "Low HP"
    elif val == HP_mean:
        return "Neutral HP"
    else:
        return "High HP"

speed_mean = data["Speed"].mean()

def set_speed(val):
    if val < speed_mean:
        return "Low speed"
    elif val == speed_mean:
        return "Neutral speed"
    else:
        return "High speed"

data["High_Low_HP"] = data["HP"].apply(set_hp)
data["High_Low_Speed"] = data["Speed"].apply(set_speed)

In [5]:
data.head()

   #                   Name Type 1  ... Legendary  High_Low_HP  High_Low_Speed
0  1              Bulbasaur  Grass  ...     False       Low HP       Low speed
1  2                Ivysaur  Grass  ...     False       Low HP       Low speed
2  3               Venusaur  Grass  ...     False      High HP      High speed
3  3  VenusaurMega Venusaur  Grass  ...     False      High HP      High speed
4  4             Charmander   Fire  ...     False       Low HP       Low speed

[5 rows x 15 columns]