In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/JawanTechPk/Data-Science-Course/main/netflix_titles.csv")
df

     show_id  ...                                        description
0         s1  ...  As her father nears the end of his life, filmm...
1         s2  ...  After crossing paths at a party, a Cape Town t...
2         s3  ...  To protect his family from a powerful drug lor...
3         s4  ...  Feuds, flirtations and toilet talk go down amo...
4         s5  ...  In a city of coaching centers known to train I...
...      ...  ...                                                ...
8802   s8803  ...  A political cartoonist, a crime reporter and a...
8803   s8804  ...  While living alone in a spooky town, a young g...
8804   s8805  ...  Looking to survive in a world taken over by zo...
8805   s8806  ...  Dragged from civilian life, a former superhero...
8806   s8807  ...  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [39]:
def split_comma(data):
  data = str(data)
  if data == "nan":
    return 0
  return len(data.split(","))

In [41]:
df["num_of_cast"] = df["cast"].apply(split_comma)

In [42]:
df

     show_id  ... num_of_cast
0         s1  ...           0
1         s2  ...          19
2         s3  ...           9
3         s4  ...           0
4         s5  ...           8
...      ...  ...         ...
8802   s8803  ...          10
8803   s8804  ...           0
8804   s8805  ...           7
8805   s8806  ...           9
8806   s8807  ...           8

[8807 rows x 13 columns]

In [46]:
df.groupby("type")["listed_in"].value_counts()

type     listed_in
Movie    Dramas, International Movies                        362
         Documentaries                                       359
         Stand-Up Comedy                                     334
         Comedies, Dramas, International Movies              274
         Dramas, Independent Movies, International Movies    252
                                                            ...
TV Show  TV Comedies, TV Sci-Fi & Fantasy, Teen TV Shows       1
         TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers          1
         TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows         1
         TV Horror, TV Mysteries, Teen TV Shows                1
         TV Sci-Fi & Fantasy, TV Thrillers                     1
Name: listed_in, Length: 514, dtype: int64